$green: #99E2D0;
$dark-green: #008766;
$blue: #89C8FA;
$dark-blue: #003A68;
$purple: #9356DC;
$black: #000000;
$white : #ffffff;
$grey : #EAEAEA;

@import "libs/reset.scss";
@import "header/header.scss";

 