h1 {
    font-family: $fontshrikhand;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    @include flexmid;
    flex-direction: column;
    flex-shrink: 0;
  }

.location_search-bar {
    @include flexmid;
    gap: 7px;
    font-family: $fontroboto;
    background-color: $lighgrey;
    height: 50px;
    border-top: 3px solid rgba(208, 208, 208, 0.65)
}
#search-bar{
    font-size: large;
    font-style:normal;
    font-weight: 500;
    border: hidden;
    background-color: $lighgrey;
    color: $black;
}

input{
    width: 145px;
}
