@charset "UTF-8";
/*color*/
/*font/police*/
/*media queries*/
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

button {
  border-style: unset;
}

@keyframes loading-screen {
  0%, 85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
/*
.loader_background{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 10;
    animation: loading-screen 2s linear ;
}
*/
.loader {
  font-family: "Shrikhand";
  color: #ffffff;
  background-color: #9356DC;
  background-size: 120%;
  border-radius: 49% 100% 51% 36%/66% 36% 40% 100%;
  font-size: xx-large;
  font-weight: 200;
  /*position: fixed;
      width: 50%;
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      animation: 2s loading-screen linear ;
  */
}

.loader:after {
  content: "ohmyfood";
  position: relative;
  z-index: 5;
}

.loader:before {
  content: "";
  height: 13px;
  border: 1.5px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%) no-repeat;
  background-size: 0% auto;
  animation: 2s loading-screen linear;
}

@keyframes loading-screen {
  to {
    background-size: 100% auto;
  }
}
body {
  max-width: 1440px;
  margin: auto;
  font-family: "Roboto";
}
h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
  margin: 13px 75px;
}

h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.location {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7px;
  font-family: "Roboto";
  background-color: #EAEAEA;
  border-top: 3px solid rgba(208, 208, 208, 0.65);
}
.location_search-bar {
  width: 145px;
  font-size: large;
  font-weight: 500;
  border: hidden;
  background-color: #EAEAEA;
}

.fa-arrow-left {
  color: #000000;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  flex-direction: column;
  height: 327px;
  padding: 0px 30px;
  background-color: #F6F6F6;
}
.hero_title {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.hero_txt {
  color: #353535;
}
.hero_btn {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #ffffff;
  width: 220px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.hero_btn:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}

.fonctionnement {
  margin: 30px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
@media only screen and (min-width: 576px) {
  .fonctionnement {
    margin: 40px 120px;
  }
}
@media only screen and (min-width: 992) {
  .fonctionnement {
    margin: 25px 90px;
  }
}
@media only screen and (min-width: 1200px) {
  .fonctionnement {
    margin: 50px 180px;
  }
}
.fonctionnement_general {
  display: grid;
  gap: 26px;
}
@media screen and (min-width: 992px) {
  .fonctionnement_general {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.fonctionnement_title {
  padding: 20px 0px 0px;
}
.fonctionnement_choice {
  margin: auto;
  width: 335px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 4.5em;
  background: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 576px) {
  .fonctionnement_choice {
    width: 335px;
  }
}
@media only screen and (min-width: 992) {
  .fonctionnement_choice {
    width: 322px;
  }
}
@media only screen and (min-width: 1200px) {
  .fonctionnement_choice {
    width: 322px;
  }
}
.fonctionnement_choice i {
  font-size: 18px;
  color: gray;
  position: absolute;
  left: 35px;
}
.fonctionnement_choice i:hover {
  color: #9356DC;
  transition: all 0.3s ease;
}
.fonctionnement_chiffres {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #9356DC;
  color: #ffffff;
  font-weight: 400;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  padding: 5px;
  position: absolute;
  left: -15px;
}
.fonctionnement_cases {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.fonctionnement_cases p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 40px 20px 20px 0px;
}
@media only screen and (min-width: 1200px) {
  .restaurants {
    padding: 40px 0px;
  }
}
.restaurants_blocs {
  margin: 30px 20px 50px 20px;
}
@media only screen and (min-width: 576px) {
  .restaurants_blocs {
    margin: 40px 120px;
  }
}
@media only screen and (min-width: 768px) {
  .restaurants_blocs {
    margin: 0px 120px;
  }
}
@media only screen and (min-width: 1200px) {
  .restaurants_blocs {
    margin: 0px 180px;
  }
}
.restaurants_gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .restaurants_gallery {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 25px 25px;
  }
}
@media only screen and (min-width: 1200px) {
  .restaurants_gallery {
    gap: 50px 100px;
  }
}
.restaurants_title {
  margin: 10px 0 20px 0;
}
@media only screen and (min-width: 1200px) {
  .restaurants_title {
    margin: 0 0 30px 0;
  }
}
.restaurants a {
  text-decoration: none;
  color: #000000;
}

.card {
  width: 340px;
  height: 251px;
  position: relative;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgba(208, 208, 208, 0.55);
}
@media only screen and (min-width: 768px) {
  .card {
    width: 490px;
  }
}
.card_nouveau {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 3px;
  z-index: 1;
}
.card_img {
  width: 100%;
  object-fit: cover;
  height: 172px;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  display: flex;
  position: relative;
}
.card_txt {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  align-items: center;
}
.card .card_title h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  padding-bottom: 8px;
}
.card i, .card fa-regular fa-heart {
  font-size: 33px;
}

.tete-menu {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.tete-menu h1 {
  text-align: center;
}
.tete-menu .fa-arrow-left:before {
  font-size: x-large;
}

@media only screen and (min-width: 1200px) {
  .img-restaurant {
    height: 485px;
    width: 100%;
    object-fit: cover;
  }
}

#img-portrait {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.menu {
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  position: relative;
  margin-top: -40px;
  padding-bottom: 30px;
  display: grid;
  gap: 15px;
}
@media only screen and (min-width: 1200px) {
  .menu {
    margin: -40px auto 0px;
    width: 1055px;
    justify-content: center;
  }
}
.menu_title {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  font-family: "Shrikhand";
  margin: 30px 17px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.bloc {
  display: grid;
  gap: 12px;
  margin: 15px;
  overflow: hidden; /*pour la visibiliter du chek*/
}
.bloc_title {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

hr {
  width: 40px;
  border: solid 2px #99E2D0;
}

.case {
  max-width: 345px;
  display: flex;
  align-items: end;
  padding: 15px;
  border-radius: 15.043px;
  background: #ffffff;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  position: relative;
}
@media only screen and (min-width: 1200px) {
  .case {
    width: 1055px;
  }
}
.case_txt {
  white-space: nowrap; /*bloc le retour à la ligne*/
  overflow: hidden; /*cacher squi dépasse*/
  display: block;
}
.case_title {
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
.case_description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  overflow: hidden; /*cacher squi dépasse*/
  text-overflow: ellipsis; /*points de suspenssion*/
}
.case_price {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  color: #353535;
  display: block;
  white-space: nowrap; /*bloc le retour à la ligne*/
  transition: all 430ms ease-in-out;
}

.btn {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #ffffff;
  width: 220px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 186px;
  margin: auto;
  font-weight: 500;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}

.btn-like i {
  font-size: 1.5625rem;
}

.btn-like i:hover {
  font-weight: 700;
  background-image: linear-gradient(180deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -moz-background-clip: text; /*mozilla le fond ne dépasse pas des lignes */
  animation: full-heart 900ms ease-in-out both;
}

.btn-like {
  background-color: transparent;
}

@keyframes full-heart {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes case-animation {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.case {
  animation: case-animation 600ms 100ms ease-in-out;
  animation-fill-mode: both;
}
.case--1 {
  animation-delay: 250ms;
}
.case--2 {
  animation-delay: 500ms;
}
.case--3 {
  animation-delay: 750ms;
}
.case--4 {
  animation-delay: 1000ms;
}
.case--5 {
  animation-delay: 1250ms;
}
.case--6 {
  animation-delay: 1500ms;
}
.case--7 {
  animation-delay: 1750ms;
}
.case--8 {
  animation-delay: 2000ms;
}
.case--9 {
  animation-delay: 2250ms;
}

.case:hover .case_price {
  transform: translate(-60px); /* pour décaler à gauche de 60px à gauche*/
  padding-left: 65px; /*pour l'apparition des points par réduction de la zone de texte*/
}

.case:hover .check_anim {
  transform: translate(-60px);
}

.case:hover .fa-circle-check {
  transform: rotate(360deg);
}

.check_anim {
  position: absolute;
  bottom: 0px;
  right: -60px;
  height: 70px;
  width: 58px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0 15px 15px 0;
  transition: transform 350ms ease-in-out; /*transition apelle le transforme case:hover*/
}

.fa-circle-check {
  color: white;
  font-size: 22px;
  transition: transform 350ms 100ms ease-in-out;
}

.footer {
  padding: 25px 22px;
  background-color: #353535;
  color: #ffffff;
  display: grid;
  gap: 7px;
}
@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }
}
.footer_title {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  font-family: "Shrikhand";
  font-weight: normal;
  padding-bottom: 9px;
}
.footer_txt {
  display: grid;
  gap: 7px;
}
@media only screen and (min-width: 768px) {
  .footer_txt {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
.footer i {
  font-size: small;
}
.footer a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.footer a:hover {
  color: #cccccc;
  transition: all 0.3s ease;
}

.footer fa-utensils {
  padding-right: 5px;
}

/*# sourceMappingURL=style.css.map */
