
.loader {
    display: inline-block;
    position: relative;
    z-index: 1;
    color:$black;
    animation: txtblur  1s ease-in infinite alternate;
    
    &::before {
        content: '';  
        position: absolute;
        left: 7px;
        bottom: 0px;
        width: 23px;
        height: 24px;
        border-radius: 100%;
        border: 3px solid #000000;
        border-bottom-color: $blue;
        box-sizing: border-box;
        animation: rotation 0.3s linear infinite;  /*keyframes*/
        
      }
      
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  .loader1 {
    display: inline-block;
    position: relative;
    z-index: 200;
    animation: txtblur  1s ease-in infinite alternate;
    
  }
  
  .loader1::before {
    content: '';  
    position: absolute;
    right: 77px;
    bottom: 0px;
    width: 23px;
    height: 24px;
    border-radius: 100%;
    border: 3px solid #000000;
    border-bottom-color: $green;
    box-sizing: border-box;
    animation: rotation 0.5s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  .loader2 {
    display: inline-block;
    position: relative;
    z-index: 2;
    animation: txtblur  1s ease-in infinite alternate;
  }
  
  .loader2::before {
    content: '';  
    position: absolute;
    right: 44px;
    bottom: 0px;
    width: 23px;
    height: 24px;
    border-radius: 100%;
    border: 3px solid #000000;
    border-bottom-color: $purple;
    box-sizing: border-box;
    animation: rotation 0.8s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  .txt{
    font-size: 48px;
    font-family:shrikhand;
    font-weight: bold;
    color: #000000;
    display: inline-block;
    letter-spacing: 2px;
    position: relative;
    box-sizing: border-box;
    animation: txtblur  1s ease-in infinite alternate;
  }
  @keyframes txtblur {
    0% {
      filter: blur(0px);
      transform: skew(0deg);
    }
    100% {
      filter: blur(5px);
      transform: skew(-4deg);
    }
  }
  .txt::after {
    content: 'bonne appétit';
    font-size: large;
    position: absolute;
    left: 0;
    top: 0;
    color:#9356DC;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    animation: animloader 6s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      height: 100%;
    }
    100% {
      height: 0%;
    }
  }