.footer{
    padding: 25px 22px;
    background-color: $grey;
    color: $white;

    &_title{
        @include titre;
        font-family: $fontshrikhand;
        font-weight: normal;
        padding-bottom: 16px;
    }
    &_txt{
        display: grid;
        gap: 7px;    
    }
    & i{
        font-size: small;
    }
}

.footer fa-utensils{
    padding-right: 5px;
}


