body{
    max-width: 375px;
    margin: auto;
    font-family: $fontroboto;
}
h1{
    font-family: $fontshrikhand;
    font-size: 28px;
    font-weight: 400;
    margin: 13px 89px;
}
h2{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}