
.check_anim {
    position: absolute;
    bottom: 0px;
    right: -60px;
    height: 70px;
    width: 56px;
    background-color:$green;
    @include flexmid;
    border-radius: 0 15px 15px 0;
    transition: transform 350ms ease-in-out; /*transition apelle le transforme case:hover*/
}
.fa-circle-check {
    color:$white;
    font-size: 22px;
    transition: transform 350ms 100ms ease-in-out;
}
.case:hover .case_price {
    transform: translate(-60px); /* pour décaler à gauche de 60px le prix*/
    padding-left: 65px;  /*pour l'apparition des points par réduction de la zone de texte*/
}
.case:hover .check_anim {
    transform: translate(-60px);
}
.case:hover .fa-circle-check{
    transform: rotate(360deg);
}
