.empty {
    transform: translateX(28px);
    opacity: 1;
	background-color: transparent;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $black;
	-webkit-text-fill-color: transparent;
    &:hover{
		//transform: scale(0) ;
        opacity: 0;
    }
    &:hover+.full{
        transform: scale(1);
    }
}
.full {
    transform: scale(0);
    transform-origin: bottom;
    transition: transform 400ms ease-in-out;
    background: $gradient;
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-stroke-color: transparent;
}

.checkbox {
	display: none;
}
/*
input[type="checkbox"] + .checkbox-label i::after {
	content: '\f004';
	transform: scale(2);
}

input[type="checkbox"] + .checkbox-label i::before {
	content: '';
	transform: scale(2);
}
*/
.checkbox+ .checkbox-label--1::before{
	content: '\f004';
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.checkbox:checked + .checkbox-label--1 i::before {	
	background: $gradient;
	overflow: hidden;
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	font-size: 1em;
	-webkit-text-stroke-color: $purple;
}	
.checkbox+ .checkbox-label--2::before{
	content: '\f004';
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.checkbox:checked + .checkbox-label--2 i::before {	
	background: $gradient;
	overflow: hidden;
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	font-size: 1em;
	-webkit-text-stroke-color: $purple;
}	
.checkbox+ .checkbox-label--3::before{
	content: '\f004';
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.checkbox:checked + .checkbox-label--3 i::before {	
	background: $gradient;
	overflow: hidden;
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	font-size: 1em;
	-webkit-text-stroke-color: $purple;
	
}	
.checkbox+ .checkbox-label--4::before{
	content: '\f004';
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.checkbox:checked + .checkbox-label--4 i::before {	
	background: $gradient;
	overflow: hidden;
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	font-size: 1em;
	-webkit-text-stroke-color: $purple;
}	

/*
.icon_wrapper {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    overflow: hidden;
    align-self: center;
	position: relative;
    height: 25px;
    width: 27px;
    border-radius: 0;
    background-color: transparent;
}
.icon_wrapper-heart {
	position: relative;
    height: 25px;
    width: 27px;
    border-radius: 0;
    background-color: transparent;
}
.icon_wrapper-heart:hover
.icon_heart {
	padding: 2px;
    position: absolute;
    top: 0;
    left: 0;
}
.icon_heart-full {
	ckground: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    z-index: 50;
}
.icon_heart-empty {
	ackground: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    z-index: 100;
}
*/