.empty {
    transform: translateX(1.2em);
    opacity: 1;
	background-color: transparent;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $black;
	-webkit-text-fill-color: transparent;
		&:hover{
			opacity: 0;
		}
		&:hover+.full{
			transform: scale(1); /*Remplissage du coeur à l'echelle*/
		}
}
.full {
    transform: scale(0); /* Coeur vide*/
    transform-origin: bottom; /*part du bas*/
    transition: transform 400ms ease-in-out; /*Effect de la courbe de progression dans l'animation. */
    background: $gradient; 
    -webkit-text-fill-color: transparent; /*pour le fond noir*/
	-webkit-background-clip: text; /*pour le gradient fasse bien la forme coeur*/
	/*-webkit-text-stroke-color: transparent;*/
}

.checkbox {
	display: none;
}
.checkbox+ .checkbox-label--1::before{
	content: '\f004';
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.checkbox:checked + .checkbox-label--1 i::before {	
	background: $gradient;
	overflow: hidden;
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	font-size: 1em;
	-webkit-text-stroke-color: $purple;
}	
.checkbox+ .checkbox-label--2::before{
	content: '\f004';
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.checkbox:checked + .checkbox-label--2 i::before {	
	background: $gradient;
	overflow: hidden;
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	font-size: 1em;
	-webkit-text-stroke-color: $purple;
}	
.checkbox+ .checkbox-label--3::before{
	content: '\f004';
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.checkbox:checked + .checkbox-label--3 i::before {	
	background: $gradient;
	overflow: hidden;
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	font-size: 1em;
	-webkit-text-stroke-color: $purple;
	
}	
.checkbox+ .checkbox-label--4::before{
	content: '\f004';
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.checkbox:checked + .checkbox-label--4 i::before {	
	background: $gradient;
	overflow: hidden;
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	font-size: 1em;
	-webkit-text-stroke-color: $purple;
}	