
.loader_background{
    width: 100%;
    height: 100%;
    position: fixed;
    background: $gradient;
    @include flexmid;
    z-index: 10;
    animation: loading-screen 3000ms ease-in;
    animation-fill-mode: forwards;
}

@keyframes loading-screen {
    0%, 85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
        display: none;
    }
}

.loader{
    display: inline-block;
    position: relative;
    z-index: 1;
    color:$black;
    animation: txtblur  0.3s ease-in infinite alternate;
      &::before {
          content: '';          
          position: absolute;
          left: 7px;
          bottom: 0px;
          width: 23px;
          height: 24px;
          border-radius: 100%;
          border: 3px solid $white;
          border-bottom-color: $blue;
          box-sizing: border-box;
          animation: rotation 1s linear infinite;  /*keyframes*/
        }
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  .loader1 {
    display: inline-block;
    position: relative;
    z-index: 200;
    animation: txtblur 0.3s ease-in infinite alternate;
  }
  
  .loader1::before {
    content: '';  
    position: absolute;
    right: 77px;
    bottom: 0px;
    width: 23px;
    height: 24px;
    border-radius: 100%;
    border: 3px solid $white;
    border-bottom-color: $dark-green;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  .loader2 {
    display: inline-block;
    position: relative;
    z-index: 2;
    animation: txtblur 0.3s ease-in infinite alternate;
  }
  
  .loader2::before {
    content: '';  
    position: absolute;
    right: 44px;
    bottom: 0px;
    width: 23px;
    height: 24px;
    border-radius: 100%;
    border: 3px solid $white;
    border-bottom-color: $dark-blue;
    box-sizing: border-box;
    animation: rotation 3s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  .txt{
    font-size: 48px;
    font-family:shrikhand;
    font-weight: bold;
    color:$white;
    display: inline-block;
    letter-spacing: 2px;
    position: relative;
    box-sizing: border-box;
    animation: txtblur 0.3s ease-out infinite alternate, animloader 3s ease-in; 
  }
  @keyframes txtblur {
    0% {
      filter: blur(0px);
      transform: skew(0deg);
    }
    100% {
      filter: blur(2px);
      transform: skew(-6deg);
    }
  }
  @keyframes animloader {
    100% {
      height: 0%;
    }
    70% {
      height: 20%;
    }
    30% {
      height: 50%;
    }
    0% {
      height: 100%;
    }
  }
  .txt::after {
    content: 'bonne appétit';
    font-size: large;
    position: absolute;
    left: 0;
    top: 0;
    color:$dark-blue;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    animation: animloader 3s ease-in; 
  }