.hero{
    @include flexmid;
    gap: 30px;
    flex-direction: column;
    height: 327px;
    padding: 0px 30px;
    background-color: $grey2;

    &_title{
        @include titre;           
}
    &_txt{     
        color: $grey;
        
}
    &_btn{
        @include btn
}
}



